
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Guests List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}
<div class="container pt-2">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">All Guests List</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Date of Birth</th>
                                <th>Phone number</th>
                                <th>Number of guests</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for guest in guests %}
                            <tr>
                                <td>
                                    <a href="/guests/{{ guest.id }}">{{ guest.name | title }}</a>
                                </td>
                                <td>{{ guest.email }}</td>
                                <td>{{ guest.dob }}</td>
                                <td>{{ guest.phone_number }}</td>
                                <td>{{ guest.number_of_guests }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
